.condition {
    display: inline-block;
    overflow: hidden;
    width: 4vw;
    margin-left: 0.5vw;
}

.condition-img-container {
    overflow: hidden;
    height: 4vw;
    margin-right: -75%;
}

.condition-img {
    position: relative;
    left: -25%;
}