<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>
        Import a Squadron
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <div class="container" *ngIf="!scanning">
    <p>
      You can import squadron data from <a href="https://xwingtabled.github.io">X-Wing Tabled urls</a>, 
      <a href="https://squadbuilder.fantasyflightgames.com">Official X-Wing Squad Builder</a> urls,
      <a href="https://raithos.github.io">YASB 2.0</a> urls, XWS format data, and Launch Bay Next QR Code data.
    </p>
    <ion-label position="stacked">{{ oktext() }}</ion-label>
    <ion-textarea (ionChange)="textChange($event)"
      [(ngModel)]="text"
      placeholder='https://xwingtabled.github.io/squadron/---
      https://squadbuilder.fantasyflightgames.com/saved-squads---
      https:/raithos.github.io/?f=---
      ("My Squadron".200.1.1)---
      {"faction":"rebelalliance","name":"My Squadron"}'>
    </ion-textarea>
  </div>
  <zxing-scanner 
    *ngIf="scanning"
    [device]="devices.length > 0 ? devices[currentDevice] : null"
    (camerasFound)="camerasFoundHandler($event)"
    (scanSuccess)="scanSuccessHandler($event)">
  </zxing-scanner>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="toggleScan()">
      Scan&nbsp;<ion-icon name="qr-scanner"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="ok()" [disabled]="!dataValid">OK&nbsp;<ion-icon name="checkmark-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
