<ion-content padding>
  <div class="container">
    <h3>Import Squadron</h3>
      You can import squadron data from:
      <ul>
        <li>YASB 2.0 URL<br />
          <i>https://raithos.github.io/...</i><br /><br /></li>
        <li>FFG SquadBuilder URLs<br />
          <i>https://squadbuilder.fantasyflightgames.com/...</i><br /><br /></li>
        <li>XWS Data<br />
          <i>"{{ '{' }}"faction" : "rebelalliance", "name" : "My Squadron" ... {{ '}' }}</i></li>
      </ul>
    <ion-label position="stacked">Paste XWS squadron data or URL here</ion-label>
    <ion-textarea (ionChange)="textChange($event)"
      placeholder='https://squadbuilder.fantasyflightgames.com ---
      https:/raithos.github.io ---
      {"faction":"rebelalliance","name":"My Squadron"}'>
    </ion-textarea>
    <div class="button-container">
      <ion-button color="light" (click)="cancel()">Cancel</ion-button>
      <ion-button (click)="ok()" [disabled]="!dataValid">OK</ion-button>
    </div>
  </div>
</ion-content>
