.damage-deck-icon {
    display: inline-block;
    text-align: center;
    width: 2em;
    font-size: 1em;
    color: red;
    background-color: black;
    margin-right: 0.5vw;
}

.damage-card {
    color: white;
    border: 1px solid red;
}