<ion-item (click)="showUpgrade()">
  <span class="stat-avatar">
    <xws-stat *ngIf="upgrade.sides[upgrade.side].charges" [stat]="upgrade.sides[upgrade.side].charges"></xws-stat>
    <xws-stat *ngIf="upgrade.sides[upgrade.side].force" [stat]="upgrade.sides[upgrade.side].force" [bonus]="true"></xws-stat>
    <xwing-icon *ngIf="upgrade['type'] == 'configuration'" [name]="'config'"></xwing-icon>
    <xws-bonus-stats *ngFor="let grant of upgrade.sides[upgrade.side].grants" [grant]="grant"></xws-bonus-stats>
  </span>
  {{ upgrade.sides[upgrade.side].title }}
</ion-item>