@import '../component.scss';

ion-item {
    --ion-item-background: #282828 !important;
    --ion-item-color: white !important;
    --ion-text-color: white !important;
    --border-color: #666666 !important;
}

.stat-avatar {
    font-size: 1.5em;
}
.upgrade-avatar {
    font-size: 2em;
}
.stat {
    margin-left: 0.2em;
}