<ion-content padding>
  <div class="squadron-container">
    <div class="squadron-header"></div>
    <div [class]="squadronCss()" *ngFor="let squadron of squadrons">
      <div class="squadron-header">
        <ion-toolbar>
          <span class="squadron-name">
            <xwing-icon [name]="squadron.faction"></xwing-icon>&nbsp;
            {{ squadron.name }} ( {{ squadron.pointsDestroyed }} / {{ squadron.points}} )
          </span>
          <ion-buttons slot="end">
            <ion-button (click)="presentDamageDeckActionsPopover($event, squadron)">
              <span class="damage-deck-summary"><xwing-icon [name]="'hit'" class="damage-deck-icon"></xwing-icon>
                <span class="damage-deck-summary-text">{{ squadron.damagedeck.length}}</span></span>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </div>
      <xws-pilot 
        *ngFor="let pilot of squadron.pilots" 
        [pilot]="pilot" 
        [faction]="squadron.faction"
        [squadron]="squadron"
        [class]="pilotCss()"></xws-pilot>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="xwsAddButton()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
