<div class="squadron-toolbar">
  <div *ngFor="let squadron of state.squadrons" 
    (click)="goToSquadron(squadron.squadronNum)"
    [class]="squadron.squadronNum == squadronNum ? 'active' : ''">
    <xwing-icon [name]="squadron.faction"></xwing-icon>{{ squadron.name }} 
    ({{ state.getSquadronPointsDestroyed(squadron.squadronNum) }} / 
    {{ state.getSquadronPointTotal(squadron.squadronNum) }})
    <i *ngIf="squadron.squadronNum == squadronNum" class="fa fa-times" (click)="closeSquadron(squadron.Num)"></i>
  </div>
  <div (click)="xwsAddButton()" class="active hover">
    <i class="fa fa-plus"></i>
  </div>
</div>
<div *ngIf="!state.squadrons[squadronNum]" [class]="'card-container' + layout.getClass()">
  <div class="card">
    <img src="assets/img/splash.png">
    <div class="card-content">
      <span class="card-title">X-Wing Tabled</span><br /><br />
      <div *ngIf="state.squadrons.length == 0">This app is a card and token 
        manager for X-Wing Miniatures Second Edition.<br /><br /> To begin, you may 
        <a href="#" (click)="xwsAddButton()">import a squadron</a>.
      </div>
      <div *ngIf="state.squadrons.length > 0" class="squadron-list-header">
        Saved squadrons
      </div>
      <div *ngFor="let squadron of state.squadrons" 
        (click)="goToSquadron(squadron.squadronNum)"
        class="squadron-link">
        <xwing-icon [name]="squadron.faction"></xwing-icon>
        <span>{{ squadron.name }}</span>
      </div>
    </div>
  </div>
</div>
<ion-content padding>
  <squadron *ngIf="state.squadrons[squadronNum]" [squadron]="state.squadrons[squadronNum]" [squadronNum]="squadronNum"></squadron>
  <ion-fab *ngIf="dataService.initialized" vertical="bottom" horizontal="end" slot="fixed" class="labels2">
    <ion-fab-button>
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" class="labels">
      <ion-fab-button (click)="resetData()" data-desc="Nuke local data">
        <ion-icon name="nuclear"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="xwsAddButton()" data-desc="Import squadron">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="squadron" (click)="askReset()" data-desc="Reset squadron">
        <i class="fa fa-power-off"></i>
      </ion-fab-button>
      <ion-fab-button *ngIf="state.snapshots.length > 1" (click)="askUndo()" data-desc="Undo">
        <ion-icon name="undo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="squadron" 
        (click)="damageDeck()" 
        data-desc="Damage deck">
        <xwing-icon [name]="'hit'"></xwing-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="squadron" (click)="askRecharge()" data-desc="Recurring charges">
        <xwing-icon [name]="'charge'"></xwing-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
