.title-bar {
    display: inline-block;
    width: 50%;
}
.progress-bar-container {
    display: inline-block;
    width: 50%;
}
.squadron-container {
    display: block;
}
.squadron-item {
    display: inline-block;
}
.squadron-halfwidth {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.squadron-fullwidth {
    width: 100%;
    vertical-align: top;
}
.squadron-header {
    display: block;
}
.squadron-name {
    display: inline-block;
    padding-left: 0.5vw;
}
.squadron-info {
    display: inline-block;
}
.damage-deck-summary {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.damage-deck-summary-text {
    line-height: 1.5vh;
    display: inline-block;
    vertical-align: middle;
}
.damage-deck-icon {
    display: inline-block;
    text-align: center;
    width: 3vw;
    font-size: 2vw;
    color: red;
    background-color: black;
    margin-right: 0.5vw;
}
.pilotlist {
    display: block;
}
.pilot {
    display: inline-block;
}
.pilot-fullwidth {
    display: block;
    width: 100%;
}
.pilot-minwidth {
    display: inline-block;
    vertical-align: top;
}
