.squadron-container {
    display: block;
}
.squadron-item {
    display: inline-block;
}
.squadron-halfwidth {
    display: inline-block;
    width: 50%;
}
.squadron-fullwidth {
    width: 100%;
}
.squadron-header {
    display: block;
}
.pilotlist {
    display: block;
}
.pilot {
    display: inline-block;
    width: 50%;
}
.pilot-fullwidth {
    display: block;
    width: 100%;
}
.pilot-halfwidth {
    display: inline-block;
    width: 50%;
}