.title-bar {
    display: inline-block;
    width: 50%;
}
.progress-bar-container {
    display: block;
    width: 100%;
}
.squadron-container {
    display: block;
}
.squadron-item {
    display: inline-block;
}
.squadron-halfwidth {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.squadron-fullwidth {
    width: 100%;
    vertical-align: top;
}
.squadron-header {
    display: block;
}
.squadron-name {
    display: inline-block;
    padding-left: 0.5vw;
}
.squadron-info {
    display: inline-block;
}
.damage-deck-button {
    vertical-align: center;
}
.damage-deck-summary {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color: black;
    vertical-align: center;
}
.damage-deck-summary-text {
    line-height: 1.5vh;
    color: white;
    display: inline-block;
}
.damage-deck-icon {
    display: inline-block;
    text-align: center;
    font-size: 2vh;
    color: red;
}
.pilotlist {
    display: block;
}
.pilot {
    display: inline-block;
}
.pilot-fullwidth {
    display: block;
    width: 100%;
}
.pilot-minwidth {
    display: inline-block;
    vertical-align: top;
}

.card-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
        overflow: hidden;
        border-radius: 0.5em;
        box-shadow: 0.1em 0.1em 0.25em #888888;
        width: 33%;
        .card-content {
            padding: 0.5em 1em 1em 1em;
        }
        .card-title {
            font-size: 1.25em;
            font-weight: bolder;
        }
    }
}

.card-container-phone-portrait {
    @extend .card-container;
    .card {
        border-radius: 0em;
        width: 100%;
        height: 100%;
    }
}

.card-container-phone-landscape {
    @extend .card-container-phone-portrait;
    .card {
        width: 50%;
        img {
            display: none;
        }
    }
}

.card-container-tablet {
    @extend .card-container;
    .card {
        width: 50%;
    }
}

.card-container-tablet-portrait {
    @extend .card-container-tablet;
}

.card-container-tablet-landscape {
    @extend .card-container;
    .card {
        width: 33%;
    }
}

ion-fab-button[data-desc] {
    position: relative;
}
  
ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-light);
    padding: 9px;
    border-radius: 5px;
    color: var(--ion-color-dark);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

.squadron-toolbar {
    overflow-y: hidden;
    position: relative;
    height: 2.5em;
    padding-left: 0.1em;
    padding-right: 0.25em;
    padding-top: 0.25em;
    background-color: #1f1f1f;
    xwing-icon {
        margin-right: 0.25em;
        line-height: 1em;
        vertical-align: baseline;
        position: relative;
        top: -0.08em;
    }
    div {
        position: relative;
        background-color: #444444;
        color: #aaaaaa;
        height: 200%;
        display: inline-block;
        border-radius: 0.5em;
        padding-top: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        line-height: 1em;
        vertical-align: text-bottom;
        margin-right: 0.1em;
    }
    div:hover:not(.active) {
        cursor: pointer;
        text-decoration: underline;
    }
    div.active {
        background-color: white;
        color: #1f1f1f;
    }
    div.hover {
        cursor: pointer;
        text-decoration: underline;
    }
    i.fa-times {
        margin-left: 0.25em;
    }
    i.fa-times:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    .squad-control {
        float: right;
        margin-right: 0em;
        border-radius: 0em;
    }
}

.squadron-link {
    text-decoration: none;
    color: #1f1f1f;
    cursor: pointer;
    xwing-icon {
        position: relative;
        top: -0.05em;
        display: inline-block;
        width: 1.5em;
    }
    margin-bottom: 0.25em;
}
.squadron-link:hover span {
    text-decoration: underline;
}
.squadron-list-header {
    font-style: italic;
    margin-bottom: 0.5em;
}