<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Cloud Data
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Local Cache
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h2>Reset</h2>
        <p>
          This will delete data, images and squadrons stored on your device. 
        </p>
      </ion-label>
      <ion-icon name="nuclear" slot="end" (click)="resetData()"></ion-icon>
    </ion-item>
    <ion-list-header>
      <ion-label>Cloud Login</ion-label>
    </ion-list-header>
    <ion-item *ngIf="firebase.user">
      <ion-avatar slot="start">
        <img src="{{ firebase.user.photoURL }}">
      </ion-avatar>
      <ion-label>
        <h2>Signed in as {{ firebase.user.email }}</h2>
        <p>Logging out will end squadron syncing.</p>
      </ion-label>
      <ion-icon name="log-out" slot="end" (click)="logout()"></ion-icon>
    </ion-item>
    <ion-item *ngIf="!firebase.user">
      <ion-label>
        <h2>Sign in with Google</h2>
        <p>Your squadrons will be synced and viewable to others.</p> 
      </ion-label>
      <ion-icon name="log-in" slot="end" (click)="login()"></ion-icon>
    </ion-item>
    <ion-list-header>
      Cloud Squadrons
    </ion-list-header>
    <ion-item *ngIf="cloudSquadrons.length == 0">
      <i>None. Import a squadron - it will automatically cloud sync.</i>
    </ion-item>
    <ion-item *ngFor="let squadronItem of cloudSquadrons">
      <ion-avatar slot="start">
        <span class="squadron-icon">
          <xwing-icon [name]="squadronItem.faction" [class]="getSquadronClass(squadronItem)"></xwing-icon>
        </span>
      </ion-avatar>
      <ion-label>
        {{ squadronItem.name }}
      </ion-label>
      <ion-icon 
        name="cloud-download" 
        slot="end" 
        *ngIf="!isLocalSquadron(squadronItem.uuid)"
        class="clickable"
        (click)="importSquadron(squadronItem)"></ion-icon>
      <ion-icon
        name="share"
        slot="end"
        class="clickable"
        (click)="share(squadronItem.uuid)"></ion-icon>
      <ion-icon 
        name="close-circle" 
        slot="end" 
        class="clickable"
        (click)="deleteSquadron(squadronItem)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
