<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      X-Wing Tabled
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h5>
    Hey, there!
  </h5>
  <p>
    We noticed that you're using the live web app. You can also 
    <a href="https://github.com/xwingtabled/XwingTabled/releases">download the
    Android app</a>. It has the following features:
  </p>
  <ul>
    <li>Image caching for offline use</li>
    <li>Import squadrons via QR code</li>
    <li>Landscape and portrait layouts</li>
  </ul>
  <h5>
    Found a bug?
  </h5>
  <p>
    Please <a href="https://github.com/xwingtabled/XwingTabled/issues/new">raise an issue</a> on
    the <a href="https://github.com/xwingtabled/XwingTabled">Github repository</a>.
  </p>
</ion-content>
