<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>
        Import a Squadron
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <div class="container">
    <p>
      You can import squadron data from <a href="https://xwingtabled.github.io">X-Wing Tabled urls</a>, 
      <a href="https://squadbuilder.fantasyflightgames.com">Official X-Wing Squad Builder</a> urls,
      <a href="https://raithos.github.io">YASB 2.0</a> urls, XWS format data, and Launch Bay Next QR Code data.
    </p>
    <ion-label position="stacked">Paste your squadron data or url here</ion-label>
    <ion-textarea (ionChange)="textChange($event)"
      [(ngModel)]="text"
      placeholder='https://xwingtabled.github.io/squadron/---
      https://squadbuilder.fantasyflightgames.com/saved-squads---
      https:/raithos.github.io/?f=---
      ("My Squadron".200.1.1)---
      {"faction":"rebelalliance","name":"My Squadron"}'>
    </ion-textarea>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button class="start" (click)="openQr()" data-desc="Scan QR">
    <ion-icon name="qr-scanner"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="end" *ngIf="xwingTabledData" (click)="import(xwingTabledUUID, xwingTabledData)" data-desc="Import X-Wing Tabled Squadron">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-button class="end" *ngIf="yasbData" (click)="add(yasbData)" data-desc="Import from YASB 2.0">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-button class="end" *ngIf="ffgData" (click)="add(ffgData)" data-desc="Import from FFG Squadbuilder">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-button class="end" *ngIf="xwsData" (click)="add(xwsData)" data-desc="Import from XWS">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-button class="end" *ngIf="launchBayData" (click)="add(launchBayData)" data-desc="Import from Launch Bay Next">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
