ion-content {
    --ion-background-color: white;
}

ion-textarea {
    height: 70vh;
}

ion-fab-button[data-desc] {
    position: relative;
}
  
ion-fab-button.end[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 5em;
    bottom: 1em;
    background-color: var(--ion-color-light);
    padding: 0.5em;
    border-radius: 0.5em;
    color: var(--ion-color-dark);
    box-shadow: 0 0.2em 0.5em -0.1em rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

ion-fab-button.start[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    left: 5em;
    bottom: 1em;
    background-color: var(--ion-color-light);
    padding: 0.5em;
    border-radius: 0.5em;
    color: var(--ion-color-dark);
    box-shadow: 0 0.2em 0.5em -0.1em rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}