<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="!layout.isPhone()" slot="primary">
      <ion-button color="primary" *ngIf="upgrade.sides.length > 1" (click)="flipCard()">Flip</ion-button>
    </ion-buttons> 
    <ion-title>{{ sides[upgrade.side].name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="modal-content">
    <div *ngIf="img_urls[upgrade.side]">
      <img [src]="img_urls[upgrade.side]" />
    </div>
    <div *ngIf="upgrade.charges" [class]="'token-set' + layout.getClass()">
      <xws-token-display [name]="'charge'" [data]="upgrade.charges" (change)="chargeChange($event)"></xws-token-display>
    </div>
    <div *ngIf="layout.isPhone()">
      <ion-button expand="full" color="primary" *ngIf="upgrade.sides.length > 1" (click)="flipCard()">Flip</ion-button>
    </div>
  </div>
</ion-content>