@import '../component.scss';

.attack-stats {
    color: red;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.attack-text { 
    font-size: $text-size;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.attack-range {
    color: white;
}