$font-override-size: 1em;

ion-app {
    font-size: $font-override-size;
}

ion-fab-button {
    xwing-ship {
        position: relative;
        top: -0.05em;
        font-size: 2.5em;
    }
}

ion-fab-button[data-desc] {
    position: relative;
}
  
ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 4em;
    bottom: 0.25em;
    background-color: var(--ion-color-light);
    padding: 0.5em;
    border-radius: 0.5em;
    color: var(--ion-color-dark);
    box-shadow: 0 0.2em 0.5em -0.1em rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}