.rebelalliance {
    color: red;
}

.galacticempire {
    color: blue;
}

.scumandvillainy {
    color: brown;
}

.resistance {
    color: orange;
}

.firstorder {
    color: darkred;
}

.galacticrepublic {
    color: purple;
}

.separatistalliance {
    color: darkblue;
}