.faction {
    padding: 0.1em 0.1em 0.1em 0.1em;
}

.rebelalliance {
    @extend .faction;
    color: red;
    background-color: lightgrey;
}

.galacticempire {
    @extend .faction;
    color: white;
    background-color: darkblue;
}

.scumandvillainy {
    @extend .faction;
    color: white;
    background-color: brown;
}

.resistance {
    @extend .faction;
    color: orange;
    background-color: darkslategray;
}

.firstorder {
    @extend .faction;
    color: red;
    background-color: darkslategray;
}

.galacticrepublic {
    @extend .faction;
    color: darkred;
    background-color: lightgoldenrodyellow;
}

.separatistalliance {
    @extend .faction;
    color: darkblue;
    background-color: lightgrey;
}