.condition-popover {
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    background: black;
}
.condition-title {
    background: white;
    width: 100%;
    padding-top: 0.5vw;
    text-align: center;
    font-weight: 900;
    padding-bottom: 0.5vw;
}
.condition-text {
    background: white;
    width: 100%;
    margin-bottom: 0.5vw;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}