<div class="upgrade" (click)="showUpgrade()">
  <div class="upgrade-img-container">
    <img [src]="img_urls[upgrade.side]" class="upgrade-img"/>
  </div>
  <div class="upgrade-name">
    {{ upgrade.name }}
  </div>
  <div class="upgrade-info-block">
    <div class="upgrade-info-block-left">
      <xws-stat *ngIf="upgrade.sides[upgrade.side].attack" [stat]="upgrade.sides[upgrade.side].attack"></xws-stat>
      <xws-action *ngFor="let action of upgrade.sides[upgrade.side].actions" [action]="action" class="action-box"></xws-action>
    </div>
    <div class="upgrade-info-block-right">
      <xws-charge-summary *ngIf="upgrade.sides[upgrade.side].charges" [charges]="upgrade.sides[upgrade.side].charges"></xws-charge-summary>
      <xws-force-bonus *ngIf="upgrade.sides[upgrade.side].force" [force]="upgrade.sides[upgrade.side].force"></xws-force-bonus>
      <xwing-icon *ngIf="upgrade['type'] == 'configuration'" [name]="'config'"></xwing-icon>
      <xws-bonus-stats *ngFor="let grant of upgrade.sides[upgrade.side].grants" [grant]="grant"></xws-bonus-stats>
    </div>
  </div>
</div>