<div [class]="'upgrade' + layout.getClass()" (click)="showUpgrade()">
  <div *ngIf="artwork" class="upgrade-img-container">
    <img [src]="img_urls[upgrade.side]" [class]="'upgrade-img' + layout.getClass()"/>
    <div *ngIf="showOverlay()" class="stat-overlay">
      <xws-stat *ngIf="chargeStat" [stat]="chargeStat" class="stat"></xws-stat>
      <xws-stat *ngIf="forceStat" [stat]="forceStat" class="stat"></xws-stat>
      <xwing-icon *ngIf="isConfiguration" [name]="'config'" class="stat"></xwing-icon>
      <xws-bonus-stats *ngFor="let grant of sides[upgrade.side].metadata.grants" [grant]="grant" [class]="statClass(grant)"></xws-bonus-stats>
    </div>
  </div>
  <div class="upgrade-name">
    {{ sides[upgrade.side].name }}
  </div>
</div>