@import '../component.scss';

.upgrade {
    font-size: 2vh;
    background: $xws-background;
    color: white;
    margin-right: 0.2vh;
    margin-bottom: 0.2vh;
    position: relative;
}
.upgrade-tablet {
    @extend .upgrade;
}
.upgrade-tablet-portrait {
    font-size: 2vw;
    @extend .upgrade;
}
.upgrade-img-container {
    display: block;
}

.upgrade-alt-container {
    display: block;
    overflow: hidden;
    height: 10vh;
    width: 40vh;
    margin-right: -24vh;
}

.img-alt {
    //clip-path: polygon(40% 0%, 92% 0%, 92% 32%, 40% 32%);
    //clip-path: polygon(10vh 0vh, 24vh 0vh, 24vh 5vh, 10vh 5vh);
    margin-left: -24vh;
}
.img-alt-config {
    //clip-path: polygon(3% 0%, 48% 0%, 48% 32%, 3% 32%);
    //clip-path: polygon(0.5vh 0vh, 5vh 0vh, 5vh 4vh, 0vh 4vh);
    margin-left: -2vh;
}

.upgrade-img {
    display: block;
}

.upgrade-img-tablet {
    @extend .upgrade-img;
    height: 12.5vh;
}

.upgrade-img-tablet-portrait {
    @extend .upgrade-img;
    width: 26vw;
}

.upgrade-name {
    width: 100%;
    text-align: center;
    vertical-align: center;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
  //  height: 2vh;
}

.upgrade-info-block {
    position: relative;
    bottom: 0%;
    box-sizing: border-box;
    height: 3vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 0.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2vh;
}

.upgrade-info-block-left {
    display: inline-block;
}

.upgrade-info-block-right {
    display: inline-block;
}

.upgrade-filler {
    font-size: 1.5em;
}

.action-box {
    border-left: 1px solid lightgray;
    padding-left: 0.4em;
    padding-right: 0.2em;
}
.stat {
    margin-left: 0.1em;
}

.stat-overlay {
    position: absolute;
    right: 0.1em;
    top: 0.1em;
    div.big-stat {
        font-size: 9vh;
        vertical-align: top;
        text-transform: uppercase;
        opacity: 0.8;
    }
}