.upgrade {
    overflow: hidden;
}
.upgrade-img-container {
    overflow: hidden;
    margin-right: -78%;
    margin-bottom: -68%;
}

.upgrade-img-container img {
    position: relative;
    left: -40%;
}