<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{ pilot.pilot.name }}&nbsp;
      <span *ngIf="pilot.idNumber">
        <xwing-icon [name]="'token-lock'"></xwing-icon>
        &nbsp;{{ pilot.idNumber }}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="token-modal">
    <div>
      <img [src]="img_url">
    </div>
    <div [class]="'token-box' + layout.getClass()">
      <xws-token-display 
        *ngIf="shields" 
        [name]="'shield'" 
        [data]="shields" 
        (change)="state.postDamage(pilot)" 
        class="token-set"></xws-token-display>
      <xws-token-display 
        *ngIf="charges" 
        [name]="'charge'" 
        [data]="charges" 
        class="token-set"></xws-token-display>
      <xws-token-display 
        *ngIf="force" 
        [name]="'force'" 
        [data]="force" 
        class="token-set"></xws-token-display>
    </div>
    <div [class]="'damage-cards' + layout.getClass()">
      <xws-condition *ngFor="let condition of pilot.conditions" [pilot]="pilot" [condition]="condition"></xws-condition>
      <xws-damage-card *ngFor="let card of pilot.damagecards" [card]="card" [squadron]="squadron"></xws-damage-card> 
    </div>
  </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="card-expander-more" (click)="expandToggle()"><fa-icon [icon]="faBars"></fa-icon></div>
        <ion-button expand="full" (click)="drawHit()">Draw<xwing-icon [name]="'hit'"></xwing-icon></ion-button>
        <ion-button expand="full" (click)="drawCrit()">Draw<xwing-icon [name]="'crit'"></xwing-icon></ion-button>
        <div *ngIf="this.expanded">
          <ion-button expand="full" (click)="showConditionMenu()">Assign Condition</ion-button>
          <ion-button expand="full" (click)="assignCrit()">Assign <xwing-icon [name]="'crit'"></xwing-icon></ion-button>
          <ion-button [disabled]="!hitCardAvailable()" expand="full" (click)="exposeRandomHit()">
            Expose Random <xwing-icon [name]="'hit'"></xwing-icon>
          </ion-button>
          <ion-button [disabled]="!hitCardAvailable()" expand="full" (click)="thaneKyrell()">
            Thane Kyrell&nbsp;<xwing-ship [name]="'t65xwing'" class="ship-icon"></xwing-ship>
          </ion-button>
          <ion-button expand="full" (click)="maarekStele()">
              Maarek Stele&nbsp;<xwing-ship [name]="'tieadvancedx1'" class="ship-icon"></xwing-ship>
            </ion-button>
          <ion-button expand="full" (click)="fleeShip()">Remove Ship (Flee)</ion-button>
          <ion-button expand="full" (click)="recycleDamageCards()" [disabled]="!recycleAvailable()">Recycle Damage Cards</ion-button>
        </div>
      </ion-toolbar>
</ion-footer>