.stats {
    padding-left: 0.1vh;
    padding-right: 0.1vh;
    display: inline-block;
}
.vertical {
    display: block;
    width: 1.5em;
    text-align: center;
}
.horizontal {
    display: inline-block;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}
.underline {
    text-decoration: underline;
}
.agility {
    @extend .stats;
    color: green;
}

.attack {
    @extend .stats;
    color: red;
}

.hull { 
    @extend .stats;
    color: yellow;
}

.charges {
    @extend .stats;
    color: yellow;
}

.force {
    @extend .stats;
    color: blueviolet;
}

.shields {
    @extend .stats;
    color: lightblue;
}

.attack-range {
    color: white;
}

xwing-icon {
    font-size: 0.9em;
    position: relative;
    top: -0.1em;
}