<div [class]="stat.type">
  <div [class]="orientation">
    <xwing-icon [name]="stat.icon ? stat.icon : stat.type"></xwing-icon>
  </div>
  <div [class]="orientation">
    <span *ngIf="bonus">+{{stat.value}}</span>
    <span *ngIf="stat.type == 'attack'">
      {{ stat.value }}
    </span>
    <span *ngIf="!bonus && stat.type != 'attack'">
      <span [class]="stat.remaining != stat.value ? 'underline' : ''">{{ stat.remaining }}</span>
    </span> 
    <xwing-icon *ngFor="let icon of recoverIcons()" [name]="'recurring'"></xwing-icon>
  </div>
  <div *ngIf="stat.minrange" [class]="orientation">
    <xwing-icon *ngIf="stat.ordnance" [name]="'rangebonusindicator'"></xwing-icon>
    <span class="attack-range">{{ stat.minrange }}-{{ stat.maxrange }}</span>
  </div>
</div>