<div class="token-display">
  <div class="tokens">
    <xwing-icon [name]="'token-' + name + '-outline'" [class]="name" *ngFor="let number of available" (click)="spend()"></xwing-icon>
    <xwing-icon [name]="'token-' + name + '-outline'" class="spent" *ngFor="let number of spent" (click)="recover()"></xwing-icon>
  </div>
  <div class="recover-container" *ngIf="data.recovers > 0">
    <ion-button (click)="recoverRecurring()">Recover<xwing-icon [name]="'recurring'" *ngFor="let number of recovers"></xwing-icon></ion-button>
  </div>
</div>
