.token-display{
    display: block;
}

.tokens {
    display: inline-block;
    vertical-align: middle;
}

.force {
    @extend .tokens;
    color: blueviolet;
}

.charge {
    @extend .tokens;
    color: yellow;
}

.shield { 
    @extend .tokens;
    color: lightblue;
}

.spent {
    @extend .tokens;
    color: red;
}

.recover-container {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.25em;
    padding-bottom: 0.25em;
}

.recover-button {
    vertical-align: middle;
}