.damage-deck-actions {
    padding: 1vw 1vw 1vw 1vw;
}
.damage-deck-icon {
    display: inline-block;
    text-align: center;
    width: 3vw;
    font-size: 2vw;
    color: red;
    background-color: black;
    margin-right: 0.5vw;
}