<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <xwing-text text="Render [Critical Hit] and alphaclassstarwing"></xwing-text>
  <xwing-icon name="Hit"></xwing-icon>
  <div>
    <span>{{ this.dataService.last_message }}</span>
  </div>
  <ion-button full 
    *ngIf="download_data"
    (click)="dataService.download_data()">
    Download Data
  </ion-button>
  <progress-bar 
    *ngIf="dataService.downloading" 
    [progress]="dataService.downloader.progress" 
    [color]="'#488aff'">
  </progress-bar>
</ion-content>
