<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <xwing-text text="Render [Critical Hit] and alphaclassstarwing"></xwing-text>
  <xwing-icon name="Hit"></xwing-icon>

  <div *ngIf="data_interface">
    <p>{{ data_message }}</p>
    <progress-bar 
      [progress]="data_progress" 
      [color]="'#488aff'">
    </progress-bar>
    <ion-button full
      *ngIf="data_button"
      (click)="download_data()"
      [disabled]="data_button_disabled">
      Download Data
    </ion-button>
  </div>

  <div *ngIf="images_interface">
    <p>{{ images_message }}</p>
    <progress-bar
      [progress]="images_progress"
      [color]="'#488aff'">
    </progress-bar>
    <ion-button full
      *ngIf="images_button"
      (click)="download_images()"
      [disabled]="images_button_disabled">
      Download Artwork
    </ion-button>
  </div>

  <img [src]="img_src" />

</ion-content>
