@import '../../components/component.scss';

.pilot-art {
    display: inline-block;
    width: 50%;
}
.damage-cards {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-left: 1vw;
}