@import '../../components/component.scss';

.pilot-modal {
    @extend .modal-content;
    overflow-y: scroll;
    height: 100%;
    font-size: 8vh;
}
.pilot-art {
    display: inline-block;
}
.pilot-art-container {
    display: inline-block;
    width: 58%;
}
.pilot-art-container-tablet {
    @extend .pilot-art-container;
}
.pilot-art-container-tablet-portrait {
    @extend .pilot-art-container;
}
.pilot-art-container-phone-portrait {
    @extend .pilot-art-container;
    display: block;
    width: 100%;
}
.pilot-art-container-phone-landscape {
    @extend .pilot-art-container;
}
.token-box {
    display: inline-block;
    padding-left: 1vw;
    vertical-align: top;
    width: 42%;
    font-size: 6vh;
}
.token-box-tablet {
    @extend .token-box;
}
.token-box-tablet-portrait {
    @extend .token-box;
}
.token-box-phone-portrait {
    @extend .token-box;
    width: 100%;
    font-size: 8vh;
}
.token-box-phone-landscape {
    @extend .token-box;
    font-size: 8vw;
}
.token-set {
    display: block;
    width: 100%;
    font-size: 1em;
    overflow: wrap;
}
.damage-cards {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-left: 1vw;
}
.tab-icon {
    font-size: 2vh;
}
.half-column {
    width: 50%;
    display: inline-block;
}
.damage-cards {
    @extend .half-column;
    padding-left: 1vw;
}
.damage-cards-tablet {
    @extend .damage-cards;
}
.damage-cards-tablet-portrait {
    @extend .damage-cards;
}
.damage-cards-phone-portrait {
    width: 100%;
}
.damage-cards-phone-landscape {
    @extend .damage-cards;
}
.damage-buttons {
    @extend .half-column;
}
.damage-buttons-tablet {
    @extend .damage-buttons;
}
.damage-buttons-tablet-portrait {
    @extend .damage-buttons;
}
.damage-buttons-phone-portrait {
    display: none;
}
.damage-buttons-phone-landscape {
    @extend .damage-buttons;
}
.card-text {
    font-size: 2vh;
    color: white;
}

.card-expander {
    margin-left: -1vw;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.card-expander-more {
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 0.3em;
}

.dial-name {
    color: white;
    font-size: 2vh;
    margin-bottom: 1em;
    text-align: center;
}

.maneuver-chart {
    width: 100%;
    font-size: 2vh;
    text-align: center;
    background-color: $xws-background;
}

.maneuver-icon {
    display: inline-block;
    text-align: center;
    width: 2em;
    font-size: 1.5em;
}

.white {
    @extend .maneuver-icon;
    color: white;
}

.blue {
    @extend .maneuver-icon;
    color: #7777FF;
}

.red {
    @extend .maneuver-icon;
    color: red;
}

.ship-icon {
    font-size: 4vh;
}
.pilot-modal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0.2vh #282828;
	border-radius: 0.2vh;
	background-color: #282828;
}

.pilot-modal::-webkit-scrollbar
{
	width: 0.5vh;
	background-color: #282828;
}

.pilot-modal::-webkit-scrollbar-thumb
{
	border-radius: 0.2vh;
	-webkit-box-shadow: inset 0 0 0.2vh rgba(0,0,0,.3);
	background-color: #555;
}