<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="presentPilotActionsPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{ pilot.pilot.name }}&nbsp;<span *ngIf="pilot.idNumber && pilot.idNumber > 0"><xwing-icon [name]="'token-lock'"></xwing-icon> {{ pilot.idNumber }}</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="modal-content">
    <div class="pilot-art">
      <img [src]="img_url" /><br />
      <div class="token-box">
        <xws-token-display *ngIf="pilot.shields" [name]="'shield'" [data]="pilot.shields"></xws-token-display>
        <xws-token-display *ngIf="pilot.charges" [name]="'charge'" [data]="pilot.charges"></xws-token-display>
        <xws-token-display *ngIf="pilot.force" [name]="'force'" [data]="pilot.force"></xws-token-display>
      </div>
    </div>
    <div class="damage-cards">
        <ion-button expand="full" (click)="drawHit()">Draw<xwing-icon [name]="'hit'"></xwing-icon></ion-button>
        <ion-button expand="full" (click)="drawCrit()">Draw<xwing-icon [name]="'crit'"></xwing-icon></ion-button>
        <xws-damage-card *ngFor="let card of pilot.damagecards" [card]="card" [squadron]="squadron"></xws-damage-card>
        <xws-condition *ngFor="let condition of pilot.conditions" [pilot]="pilot" [condition]="condition"></xws-condition>
    </div>
  </div>
</ion-content>