<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{ data.name }}&nbsp;
      <span *ngIf="pilot.idNumber">
        <xwing-icon [name]="'token-lock'"></xwing-icon>
        &nbsp;{{ pilot.idNumber }}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="!layout.getClass().includes('phone') || layout.getClass() == '-phone-landscape'" class="pilot-modal">
    <div [class]="'left-column ' + leftExpandClass()">
      <div 
        *ngIf="showCard()" 
        [class]="'item-box pilot-art-container' + layout.getClass() + ' ' + cardExpandClass()"
        (click)="toggleCard()">
        <img *ngIf="img_url" [src]="img_url" class="pilot-art"/>
      </div>
      <div 
        *ngIf="showDial()" 
        [class]="'item-box maneuver-chart ' + dialExpandClass()"
        (click)="toggleDial()">
        <table>
          <tr *ngFor="let row of maneuverChart">
            <th class="white">{{ row.speed }}</th>
            <td *ngFor="let maneuver of row.maneuvers">
              <span *ngIf="!maneuver" class="white">
                &nbsp;
              </span>
              <span *ngIf="maneuver" [class]="maneuver.difficulty">
                <xwing-icon [name]="maneuver.name"></xwing-icon>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="showRightColumn()" class="right-column">
      <div [class]="'token-box' + layout.getClass()">
        <xws-token-display 
          *ngIf="shieldTotal > 0" 
          [name]="'shield'" 
          [maximum]="shieldTotal"
          [remaining]="pilot.shields"
          [readonly]="state.readonly(squadronUUID)"
          (change)="changeShields($event)"
          class="token-set"></xws-token-display>
        <xws-token-display 
          *ngIf="chargeTotal > 0" 
          [name]="'charge'" 
          [maximum]="chargeTotal"
          [remaining]="pilot.charges"
          [readonly]="state.readonly(squadronUUID)"
          (change)="changeCharges($event)"
          class="token-set"></xws-token-display>
        <xws-token-display 
          *ngIf="forceTotal > 0" 
          [name]="'force'"
          [maximum]="forceTotal" 
          [remaining]="pilot.force"
          [readonly]="state.readonly(squadronUUID)"
          (change)="changeForce($event)"
          class="token-set"></xws-token-display>
      </div> 
      <div [class]="'damage-cards' + layout.getClass()">
        <xws-condition *ngFor="let condition of pilot.conditions; index as i" 
          [squadronUUID]="squadronUUID"
          [pilotUUID]="pilotUUID" 
          [cardIndex]="i"></xws-condition>
        <xws-damage-card 
          *ngFor="let card of pilot.damagecards; index as i" 
          [cardIndex]="i"
          [pilotUUID]="pilotUUID" 
          [squadronUUID]="squadronUUID"></xws-damage-card> 
      </div>
    </div>
  </div>
  <div *ngIf="layout.getClass() == '-phone-portrait'" class="pilot-modal">
    <div>
      <div [class]="'token-box' + layout.getClass()">
        <xws-token-display 
          *ngIf="shieldTotal > 0" 
          [name]="'shield'" 
          [maximum]="shieldTotal"
          [remaining]="pilot.shields"
          [readonly]="state.readonly(squadronUUID)"
          (change)="changeShields($event)"
          class="token-set"></xws-token-display>
        <xws-token-display 
          *ngIf="chargeTotal > 0" 
          [name]="'charge'" 
          [maximum]="chargeTotal"
          [remaining]="pilot.charges"
          [readonly]="state.readonly(squadronUUID)"
          (change)="changeCharges($event)"
          class="token-set"></xws-token-display>
        <xws-token-display 
          *ngIf="forceTotal > 0" 
          [name]="'force'"
          [maximum]="forceTotal" 
          [remaining]="pilot.force"
          [readonly]="state.readonly(squadronUUID)"
          (change)="changeForce($event)"
          class="token-set"></xws-token-display>
      </div> 
      <div [class]="'damage-cards' + layout.getClass()">
        <xws-condition *ngFor="let condition of pilot.conditions; index as i" 
          [squadronUUID]="squadronUUID"
          [pilotUUID]="pilotUUID" 
          [cardIndex]="i"></xws-condition>
        <xws-damage-card 
          *ngFor="let card of pilot.damagecards; index as i" 
          [cardIndex]="i"
          [pilotUUID]="pilotUUID" 
          [squadronUUID]="squadronUUID"></xws-damage-card> 
      </div>
    </div>
    <div 
      *ngIf="showCard()" 
      [class]="'pilot-art-container' + layout.getClass()">
      <img *ngIf="img_url" [src]="img_url" class="pilot-art"/>
    </div> 
    <div 
      *ngIf="showDial()" 
      class="maneuver-chart-phone">
      <table>
        <tr *ngFor="let row of maneuverChart">
          <th class="white">{{ row.speed }}</th>
          <td *ngFor="let maneuver of row.maneuvers">
            <span *ngIf="!maneuver" class="white">
              &nbsp;
            </span>
            <span *ngIf="maneuver" [class]="maneuver.difficulty">
              <xwing-icon [name]="maneuver.name"></xwing-icon>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="!state.readonly(squadronUUID) && showFooter()">
  <ion-toolbar>
    <ion-button expand="full" (click)="drawHit()">Draw<xwing-icon [name]="'hit'"></xwing-icon></ion-button>
    <ion-button expand="full" (click)="drawCrit()">Draw<xwing-icon [name]="'crit'"></xwing-icon></ion-button>
    <ion-button *ngIf="!this.expanded" expand="full" (click)="expandToggle()" color="tertiary">
      More&nbsp;
      <fa-icon [icon]="faChevronCircleUp"></fa-icon>
    </ion-button>
    <div *ngIf="this.expanded">
      <ion-button expand="full" (click)="assignIdNumber()">Assign Ship ID</ion-button>
      <ion-button expand="full" (click)="showConditionMenu()">Assign Condition</ion-button>
      <ion-button expand="full" (click)="assignCrit()">Assign <xwing-icon [name]="'crit'"></xwing-icon></ion-button>
      <ion-button [disabled]="!hitCardAvailable()" expand="full" (click)="exposeRandomHit()">
        Expose Random <xwing-icon [name]="'hit'"></xwing-icon>
      </ion-button>
      <ion-button [disabled]="!hitCardAvailable()" expand="full" (click)="thaneKyrell()">
        Thane Kyrell&nbsp;<xwing-ship [name]="'t65xwing'" class="ship-icon"></xwing-ship>
      </ion-button>
      <ion-button expand="full" (click)="maarekStele()">
          Maarek Stele&nbsp;<xwing-ship [name]="'tieadvancedx1'" class="ship-icon"></xwing-ship>
        </ion-button>
      <ion-button expand="full" (click)="fleeShip()">Remove Ship (Flee)</ion-button>
      <ion-button expand="full" (click)="recycleDamageCards()" [disabled]="!recycleAvailable()">Recycle Damage Cards</ion-button>
      <ion-button expand="full" (click)="expandToggle()" color="tertiary">
        Less &nbsp;
        <fa-icon [icon]="faChevronCircleDown"></fa-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>