@import '../component.scss';

.pilot {
    margin-right: 0.2vw;
    margin-bottom: 0.2vh;
    background: $xws-background;
    color: white;
}
.pilot-header {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 2vh;
}

.upgrade-container {
    display: inline-block;
    vertical-align: top;
}

.upgrade-column {
    display: inline-block;
    vertical-align: top;
}

.upgrade {
    display: block;
}

.upgrade-portrait {
    display: block;
}
.pilot-card {
    width: 24vh;
    display: inline-block;
    vertical-align: top;
}
.action {
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.action-bar {
    text-align: center;
    font-size: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 100%;
    overflow: wrap;
}
.stat {
    display: inline-block;
}
.stat-block {
    display: block;
    width: 100%;
    text-align: center;
}
.ship-fw {
    display: inline-block;
    text-align: center;
    width: 3vw;
    font-size: 2vw;
}
.ship-status {
    background: $xws-background;
    font-size: 2vw;
    min-height: 2.25vw;
    height: 2.25vw;
    padding-left: 0.5vw;
}
.ship-status-portrait {
    @extend .ship-status;
    font-size: 4vw; 
}
.item-pilotart {
    vertical-align: top;
    height: 10vh;
}
.item-pilotart-portrait {
    display: block;
    width: 100%; 
}
.item-status {
    display: inline-block;
    vertical-align: top;
}
.damage-cards {
    font-size: 1.5vh;
    padding-left: 0.5em;
}
.damage-facedown {
    color: red;
}
.conditions {
    font-size: 1.5vh;
    padding-left: 0.5em;
}