@import '../component.scss';

.pilot {
    margin-right: 0.2vw;
}

.upgrade-column {
    display: inline-block;
    vertical-align: top;
}

.upgrade {
    width: 10vw;
    display: block;
}

.upgrade-portrait {
    width: 20vw;
    display: block
}

.ship-fw {
    display: inline-block;
    text-align: center;
    width: 3vw;
    font-size: 2vw;
}
.ship-status {
    background: $xws-background;
    font-size: 2vw;
    min-height: 2.25vw;
    height: 2.25vw;
    padding-left: 0.5vw;
}
.ship-status-portrait {
    @extend .ship-status;
    font-size: 4vw; 
}
.art-container {
    background: $xws-background;
}
.item-pilotart {
    display: inline-block;
    vertical-align: top;
    width: 18vw;
}
.item-pilotart-portrait {
    display: inline-block;
    vertical-align: top;
    width: 32vw; 
}
.item-status {
    display: inline-block;
    vertical-align: top;
}

