.ship-fw {
    display: inline-block;
    text-align: center;
    width: 2em;
}
.art-container {
    width: 100%;
    box-sizing: border-box;
}
.item-statblock {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}
.item-upgrades {
    display: inline-block;
    vertical-align: top;
    width: 66%;
}