<div class="pilot">
  <div class="pilot-header">
    <xwing-ship [name]="pilot.ship.keyname" class="ship-fw"></xwing-ship>&nbsp;
    {{ pilot.pilot.name }}&nbsp;
    <span *ngIf="pilot.idNumber && pilot.idNumber > 0"><xwing-icon [name]="'token-lock'"></xwing-icon> {{ pilot.idNumber }}</span>&nbsp;
    ( {{ pilot.pointsDestroyed }} / {{pilot.points}} )
  </div>
  <div class="art-container" (click)="showPilot()">
    <img [src]="img_url" [class]="platform.isPortrait() ? 'item-pilotart-portrait' : 'item-pilotart'" />
    <div class="stat-block">
      <xws-stat *ngFor="let stat of pilot.stats" [stat]="stat" [orientation]="'vertical'"></xws-stat>
    </div>
    <div class="condition-box">
      <xws-condition-summary *ngFor="let condition of pilot.conditions" [condition]="condition" class="stat"></xws-condition-summary>
    </div>
  </div>
  <div class="upgrade-container">
    <div class="upgrade-column" *ngFor="let column of columns">
      <xws-upgrade 
        *ngFor="let upgrade of column" 
        [upgrade]="upgrade" 
        [class]="platform.isPortrait() ? 'upgrade-portrait' : 'upgrade'"></xws-upgrade>
    </div>
  </div>
  <div [class]="platform.isPortrait() ? 'ship-status-portrait' : 'ship-status'" (click)="showPilot()">

  </div>
  <div [class]="platform.isPortrait() ? 'ship-status-portrait' : 'ship-status'" (click)="showPilot()">
    <xws-damage-summary [damagecards]="pilot.damagecards" [squadron]="squadron"></xws-damage-summary>
  </div>
</div>
