<div>
  <xwing-ship [name]="pilot.ship.xws" class="ship-fw"></xwing-ship> {{ pilot.id }}
</div>
<div class="art-container">
  <div class="item-pilotart" (click)="showPilot()">
    <img [src]="pilot.image"/>
  </div>
  <div class="item-status">
    <div class="upgrade-collection">
      <xws-upgrade *ngFor="let upgrade of pilot.upgrades" 
        [upgrade]="upgrade" class="upgrade"></xws-upgrade>
    </div>
  </div>
</div>
<div class="ship-status">
  &nbsp;
  <xws-hull-summary [hull]="pilot.hull"></xws-hull-summary>&nbsp;
  <xws-shield-summary [shields]="pilot.shields"></xws-shield-summary>&nbsp;
  <xws-charge-summary *ngIf="pilot.charges" [charges]="pilot.charges"></xws-charge-summary>&nbsp;
  <xws-force-summary *ngIf="pilot.force" [force]="pilot.force"></xws-force-summary>&nbsp;
</div>
