<div [class]="'pilot' + layout.getClass()">
  <div [class]="'pilot-header' + layout.getClass()">
    <img [src]="icon_url">
    <div class="pilot-header-text">
        <span class="pilot-initiative">{{ data.initiative }}</span>
        {{ data.name }}&nbsp;
        ( {{ getPoints() }} )
    </div>
  </div>
  <div [class]="'pilot-card' + layout.getClass()">
    <div (click)="showPilot()" class="item-box">
      <img
          [src]="img_url" 
          [class]="'item-pilotart' + layout.getClass()" />
      <div class="id-overlay" *ngIf="pilot.idNumber">
        <div class="pilot-num">{{ pilot.idNumber }}</div>
      </div>
      <div class="status-overlay" *ngIf="showOverlay()">
        <xws-stat [stat]="bigStat" class="big-stat"></xws-stat>
        <xws-stat *ngIf="smallStat" [stat]="smallStat" class="small-stat"></xws-stat>
        <xws-stat *ngIf="chargeStat" [stat]="chargeStat" class="small-stat"></xws-stat>
        <xws-stat *ngIf="forceStat" [stat]="forceStat" class="small-stat"></xws-stat>
      </div>
      <div class="cards">
        <div *ngFor="let condition of pilot.conditions" class="card-title">
          <xwing-icon [name]="'condition'"></xwing-icon>
          <span>{{ condition.name }}</span>
        </div>
      </div>
      <div class="cards">
        <div *ngFor="let damagecard of pilot.damagecards">
          <div *ngIf="damagecard.exposed" class="card-title">
            <xwing-icon [name]="'crit'"></xwing-icon>
            <span>{{ damagecard.title}}</span>
          </div>
        </div>
        <div class="card-title damage-facedown" *ngIf="numFacedown() > 0">
          <xwing-icon [name]="'hit'"></xwing-icon>
          <span>Damage Cards x{{ numFacedown() }}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!layout.isPhone()" class="upgrade-container">
    <div [class]="'upgrade-group' + layout.getClass()" *ngFor="let group of groups">
      <xws-upgrade 
        *ngFor="let upgrade of group" 
        [squadronNum]="squadronNum"
        [pilotNum]="pilotNum"
        [upgrade]="upgrade"
        [class]="'item-box upgrade' + layout.getClass()"></xws-upgrade>
    </div>
  </div>
  <div *ngIf="layout.isPhone()" [class]="'phone-upgrades' + layout.getClass()">
    <ion-list>
      <xws-phone-upgrade *ngFor="let upgrade of pilot.upgrades" 
        [squadronNum]="squadronNum"
        [ffg]="upgrade.sides[upgrade.side].ffg" 
        [pilotNum]="pilotNum">
      </xws-phone-upgrade>
    </ion-list>
  </div>
</div>

